---
import { Image } from "astro:assets";
import "@fontsource/jua";

import IslandHero from "@assets/IslandHero.png";
import Default from "@layouts/Default.astro";

import { SharePost } from "./components/SharePost";
import { StockGraph } from "./components/StockGraph.tsx";
import { CommentsSection } from "./components/CommentsSection.tsx";
import { AppStoreBanner } from "./components/AppStoreBanner.tsx";
import { RatePost } from "./components/RatePost.tsx";

const postUrl = Astro.url;
const PAGE_TITLE = `Blog Post`;
---

<Default title={PAGE_TITLE}>
  <div class="blogLayout">
    <header>
			<div class="headerNav">
				<h1>My Blog!!!</h1>
				<nav>
					<a>About</a>
					<a>Categories</a>
				</nav>
			</div>
      <Image src={IslandHero} alt="Illustration of a island" loading="eager"/>
    </header>
    <article>
      <h2>Explaining Islands</h2>
      <div class="postMeta">
        <span>2 min read</span>
        <span>by Rafael Pradella</span>
        <SharePost postUrl={postUrl.toString()} client:idle />
      </div>
      <p>
        Anim ea Lorem tempor esse est incididunt voluptate. Non fugiat veniam do
        est excepteur. Consectetur dolore cupidatat proident officia dolor minim
        consectetur commodo proident nisi excepteur. In incididunt esse eiusmod
        cupidatat magna ipsum. Aute cupidatat laboris veniam aliqua.
        Reprehenderit veniam consequat minim qui quis pariatur ipsum. Tempor ea
        eiusmod esse elit sunt quis excepteur dolor voluptate proident
        consectetur cupidatat.
      </p>
			<p>
        Anim ea Lorem tempor esse est incididunt voluptate. Non fugiat veniam do
        est excepteur. Consectetur dolore cupidatat proident officia dolor minim
        consectetur commodo proident nisi excepteur. In incididunt esse eiusmod
        cupidatat magna ipsum. Aute cupidatat laboris veniam aliqua.
        Reprehenderit veniam consequat minim qui quis pariatur ipsum. Tempor ea
        eiusmod esse elit sunt quis excepteur dolor voluptate proident
        consectetur cupidatat.
      </p>
			<p>
        Anim ea Lorem tempor esse est incididunt voluptate. Non fugiat veniam do
        est excepteur. Consectetur dolore cupidatat proident officia dolor minim
        consectetur commodo proident nisi excepteur. In incididunt esse eiusmod
        cupidatat magna ipsum. Aute cupidatat laboris veniam aliqua.
        Reprehenderit veniam consequat minim qui quis pariatur ipsum. Tempor ea
        eiusmod esse elit sunt quis excepteur dolor voluptate proident
        consectetur cupidatat.
      </p>
      <StockGraph symbol={'AAPL'} client:only="react" />
      <p>
        Anim ea Lorem tempor esse est incididunt voluptate. Non fugiat veniam do
        est excepteur. Consectetur dolore cupidatat proident officia dolor minim
        consectetur commodo proident nisi excepteur. In incididunt esse eiusmod
        cupidatat magna ipsum. Aute cupidatat laboris veniam aliqua.
        Reprehenderit veniam consequat minim qui quis pariatur ipsum. Tempor ea
        eiusmod esse elit sunt quis excepteur dolor voluptate proident
        consectetur cupidatat.
      </p>
    </article>
    <section>
      <h3>Comments about "{PAGE_TITLE}": (2)</h3>
      <CommentsSection client:visible />
    </section>
    <aside>
      <AppStoreBanner client:idle />
      <RatePost client:onAbTest />
      <button class="phantomBtn" onclick="window.dispatchEvent(new Event('onAbTest'))" >Trigger Event</button>
    </aside>

  </div>
</Default>

<style scoped>
  .phantomBtn {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: rgba(var(--accent) / 70%);
    border: none;
    border-radius: 1rem;
    color: white;
    backdrop-filter: blur(5px);
    padding: .5rem;
  }
  main {
    padding: 2rem;
    min-height: 100svh;
  }
  h1,
  h2,
  h3,
  nav {
    font-family: "Jua", sans-serif;
  }

	h1 {
    color: rgb(var(--accent-light));
		display: inline-block;
		font-size: 2.5rem;
	}

  h2 {
    font-size: 2rem;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }

  .blogLayout {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    height: 100%;
		margin: 0 auto;
    width: 100%;
		max-width: 1080px;

		nav {
			color: rgb(var(--accent-dark));
			cursor: pointer;
			display: flex;
			gap: 1rem;
			text-decoration: underline;
		}
  }

	.headerNav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: .5rem 1rem;
		gap: .5rem;
	}

	.postMeta {
		color: rgba(255,255,255,.7);
		font-size: .9rem;
		display: flex;
		gap: 1rem;
	}

  header {
    grid-column: 1 / -1;
    grid-row: 1;

    img {
      border-radius: 1rem;
    }
  }
  article {
    grid-column: 1 / 2;
    grid-row: 2;
		line-height: 1.75rem;
		padding: 2rem;
  }
  aside {
		display: flex;
    flex-direction: column;
		gap: 1rem;
    grid-column: 2 / 3;
    grid-row: 2;
  }
</style>
