---
import Default from "@layouts/Default.astro";

const PAGE_TITLE =`My First Page`;
---

<Default title={PAGE_TITLE}>
	<main>
		<h1 class="text-gradient">{PAGE_TITLE}</h1>
	</main>
</Default>

<style scoped>
	main { padding: 2rem; min-height: 100svh; }
</style>
