@media (pointer: fine) {
  .banner { display: none;}
}

@media (pointer: coarse) {
  .banner { display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 1rem; text-decoration: none;}
}